@using System.Globalization
@using LangResources.Utility
@using SnitzConfig
@using SnitzCore.Filter
@using SnitzCore.Utility

@{
    //check the culture so we can set the page direction and language
    CultureInfo ci = SessionData.Get<CultureInfo>("Culture");
    string clang = ci.TwoLetterISOLanguageName;
    bool isRighToLeft = SessionData.Get<bool>("isRighToLeft");

}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" lang="@clang" dir="@(isRighToLeft ?  "rtl" : "ltr" )">
<head>
    <meta charset="utf-8" />
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
    @RenderSection("MetaRefresh", required: false)

    <meta name="viewport" content="width=device-width, initial-scale=1">

    @RenderSection("pageMeta", required: false)
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="@ResourceManager.GetLocalisedString("tipForumRss", "Tooltip") @Html.Raw(Config.ForumTitle)" href="@Url.Action("Active","RssFeed")" />
    @Styles.Render("~/bundles/sitecss")
    @Styles.Render("~" + Config.ThemeFolder() + "/snitz.min.css")
    @if (isRighToLeft)
    {
        <!-- Load the default rtl css file -->
        <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet">
        @Html.Raw(Config.ThemeCss("snitz-rtl.min.css"))
    }
    @Styles.Render("~/Content/jquery.grid-picker.css")
    @Html.Raw(Config.ThemeCss("plugincss/photoalbum.min.css"))
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/oldIEBrowsersSupport")
    <![endif]-->
    <script src="@Url.Action("Index","JavaScriptSettings")"></script>
    <script src="@Url.Action("Resources","JavaScriptSettings")"></script>


    @RenderSection("styles", required: false)
    @Html.PageStyles()

    <!-- generate css classes for column layout -->
    @{
        //get the default column layout
        var colLayout = ClassicConfig.GetValue("STRLAYOUT");

        //classes for maincontent window
        var contentClass = "col-xs-12 col-md-8 col-lg-9 padding-xs";
        //class for second column: default right side
        var colClass = "col-xs-12 col-md-4 col-lg-3";
        //class for third column: default hidden
        var thirdcolClass = "hidden";

        if (colLayout == "left") // move second column to left side
        {
            contentClass += " col-md-push-4 col-lg-push-3";
            colClass += " col-md-pull-8 col-lg-pull-9";
        }
        if (colLayout == "threecol")
        {
            contentClass = "col-xs-12 col-sm-8 col-lg-6 padding-xs";
            colClass = "col-xs-12 col-sm-4 col-lg-3";
            thirdcolClass = " hidden-xs hidden-sm hidden-md col-lg-3";
        }
        if (colLayout == "single")
        {
            contentClass = "col-xs-12";
        }
        var containerClass = "";

    }
    <style>
        .modal-body {
            max-height: calc(100vh - 100px);
            overflow-y: auto;
        }
    </style>
</head>
<body id="page-top" onload="setStyleFromCookie(); ">
    <noscript>
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> Please enable JavaScript in your browser!
        </div>
    </noscript>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top " role="navigation">
        <div class="container navbar-test ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand form-inline"><a href="@Config.ForumUrl" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(Config.ForumTitle??ClassicConfig.ForumTitle)">@Html.ForumLogo()</a></span>

            </div>
            <div class="collapse navbar-collapse">
                @if (!SessionData.Contains("SnitzMenu"))
                {
                    SessionData.Set("SnitzMenu", Html.Partial("~/Views/Shared/_Menu.cshtml"));
                }
                @Session["SnitzMenu"]

                <div id="pm-notify" style="vertical-align:middle">
                    @{ Html.RenderPartial("_PMNotify"); }
                </div>
            </div><!--/.nav-collapse -->


        </div><iframe id="fake" src="about:blank"></iframe>
    </div>
    <!-- Begin page content -->
    <main class="container-fluid persian @containerClass" id="page-content">
        @if (CookieConsent.AskCookieConsent(ViewContext))
        {
            Html.RenderPartial("_CookieConsentMessage");
        }
        @if (IsSectionDefined("breadcrumb"))
        {
            <div class="row-fluid">
                <div class="breadcrumb col-xs-10 col-sm-8 col-md-9">
                    @RenderSection("breadcrumb", required: false)

                </div>
                <div class="hidden-xs col-sm-4 col-md-3">@{ Html.RenderPartial("_LoginPartial"); }</div>
            </div>
        }
        else
        {
            Html.RenderPartial("_LoginPartial");
        }
        <div class="row-fluid">
            @if (colLayout != "single")
            {

                <div class="@thirdcolClass" id="left-col">
                    <!-- Container for left-col in a three column layout. Hidden for small and phone screens
                    so do not include content that you wish to show on those sizes -->
                    @if (IsSectionDefined("thirdcol"))
                    {

                        <div class="side-box-left">
                            @RenderSection("thirdcol", required: false)
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="hidden" id="left-col">
                    @if (IsSectionDefined("thirdcol"))
                    {
                        RenderSection("thirdcol", false).WriteTo(TextWriter.Null);
                    }
                </div>

            }
            <!-- Main Content area -->
            <div class="@contentClass" id="main-content">
                @if (OfflineHelper.OfflineData != null)
                {
                    int min = (OfflineHelper.OfflineData.TimeWhenSiteWillGoOfflineUtc - DateTime.UtcNow).Minutes;
                    @(min > 0 ? Html.Raw("<div class='alert alert-danger'>Forum will shutdown in " + min + " minutes</div>") : Html.Raw("<div class='alert alert-warning'>Forum is currently shutdown</div>"))
                }

                @{
                    if (ClassicConfig.GetIntValue("intTopBanner") == 1)
                    {
                        if (IsSectionDefined("topBanner"))
                        {
                            @RenderSection("topBanner", required: false)
                        }
                    }
                    else
                    {
                        <!-- if banners are off we need to prevent any defined sections from renderring -->
                        if (IsSectionDefined("topBanner"))
                        {
                            RenderSection("topBanner", false).WriteTo(TextWriter.Null);
                        }
                    }
                }

                @if (IsSectionDefined("featured"))
                {
                    @RenderSection("featured", required: false)
                }
                @if (IsSectionDefined("topicsearchbox"))
                {   //on small screens render the page search box at the top
                    <div class="side-box hidden-md hidden-lg">
                        @RenderSection("topicsearchbox", required: false)
                    </div>
                }
                @RenderBody()
            </div>
            <!-- side columns -->
            @if (colLayout != "single")
            {
                <div class="@colClass" id="right-col">
                    @{
                        if (IsSectionDefined("sideBanner"))
                        {
                            if (ClassicConfig.GetIntValue("intSideBanner") == 1)
                            {

                                @RenderSection("sideBanner", required: false)
                            }
                            else
                            {
                                RenderSection("sideBanner", false).WriteTo(TextWriter.Null);
                            }

                        }
                    }
                    @if (IsSectionDefined("sidebox"))
                    {
                        <div class="side-box-right">

                            @RenderSection("sidebox", required: false)
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="hidden" id="right-col">
                    @if (IsSectionDefined("sideBanner"))
                    {
                        RenderSection("sideBanner", false).WriteTo(TextWriter.Null);
                    }
                    @if (IsSectionDefined("sidebox"))
                    {
                        RenderSection("sidebox", false).WriteTo(TextWriter.Null);
                    }
                </div>

            }
        </div>
    </main>
    <!-- Page loading container -->
    <div id="loading" style="display:none;" class="modal-backdrop fade in">
        <div class="container text-center" style="height:100%;">
            <i class="fa fa-spinner fa-4x fa-pulse fa-fw" id="spinWait" style="top: 50%; position: relative;"></i>
        </div>
    </div>
    <!-- Page Footer -->
    <div class="minmaxCon"></div>
<!-- SignalR
<div><span id="onlineUsers">0</span>,<span id="onlineGuests">0</span></div>
<div id="onlineUserslist"></div> 
-->
    @{ Html.RenderPartial("_Footer"); }
    @{
        if (ClassicConfig.ShowDebug)
        {
            Html.RenderPartial("_MyCookies");
        }
    }

    <!-- Modal-containers -->
    <div id="application-error-div" class="modal fade" role="dialog" tabindex="-1">
        <div id="" class="modal-dialog" style="width:75%">
            <div class="modal-content">
                @if (TempData["errorpopup"] != null)
                {
                    @Html.Raw(TempData["errorpopup"].ToString())
                }
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div id="" class="modal-dialog">
            <div class="modal-content" id="mdlContent">
                <div class="container text-center">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div id='aboutModal' class='modal fade' data-url='@Url.Action("About")' dir="ltr">
        <div id='aboutContainer' class="modal-dialog">
        </div>
    </div>
    <div id='licenseModal' class='modal fade' data-url='@Url.Action("License")' dir="ltr">
        <div id='licenseContainer' class="modal-dialog">
        </div>
    </div>
    <div class="modal fade mymodal" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> <i class='fa fa-times'></i> </button>
                    <button class="close modalMinimize"> <i class='fa fa-minus'></i> </button>
                    <h4 class="modal-title">Chat</h4>
                </div>
                <div class="modal-body form-group" id="chat-content">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btn-close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <input type="hidden" id="displayname" value="@HttpContext.Current.Session.SessionID" />
    <!-- Common scripts -->
    @Scripts.Render("~/bundles/corejs")

    <!-- language specific scripts -->
    @if (clang == "fa")
    {
        @Scripts.Render("~/bundles/Persian")
    }

    @if (clang == "nb" || clang == "nn" || clang == "no")
    {
        @Scripts.Render("~/Scripts/timeago/timeago.no.js")
    }
    else if (clang != "en")
    {
        @Scripts.Render("~/Scripts/timeago/timeago." + clang + ".js")
    }

    @Scripts.Render("~/bundles/Snitzjs")

    @*chat scripts
        @Scripts.Render("~/scripts/jquery.signalR-2.4.1.min.js")
        @Scripts.Render("~/signalR/hubs")
        @Scripts.Render("~/scripts/snitz.signalr.js")
        chat scripts*@
<script type="text/javascript">
    var SnitzVars = SnitzVars || {

    }
    SnitzVars.erpop = '@(TempData["errorpopup"] != null)';
    SnitzVars.pending ="@ViewBag.PendingMembers";
    SnitzVars.errMsg = '@ViewBag.Error';
    SnitzVars.successMsg = '@ViewBag.Success';
    tempScrollTop = sessionStorage.getItem('scrollTop');



    $(document).ready(function () {
        $(".fig-caption").each(function () {
            var test = $(this);
            $.ajax({
                url: SnitzVars.baseUrl + "PhotoAlbum/GetCaption/" + $(this).data("id"),
                type: "GET",
                success: function (data) {
                    //alert(data); // the View
                    test.html(data);
                }
            });
        });

        if (SnitzVars.erpop==='True') {
            $('#application-error-div').modal('show');
        }
        /*show popup error message*/

        if (SnitzVars.errMsg.length > 1) {
            errorDlg('@ViewBag.ErrTitle', SnitzVars.errMsg);
        }

        /*show pending members*/
        if (SnitzVars.pending.length > 1 && SnitzVars.pending === 'True') {
            pendingMemberShow('@ResourceManager.GetLocalisedString("mnuAdminPending", "labels")');
        }

        if ('@ViewBag.Prompt'.length > 1) {
            BootstrapDialog.prompt({
                type: BootstrapDialog.TYPE_WARNING,
                title: "@ViewBag.PromptTitle",
                message: $('<span>No Job server found.<br/>Reset the AppPool?</span>'),
                callback: function (result) {
                    // result will be true if button was clicked, it will be false if users close the dialog directly.
                    if (result) {
                        $.ajax({
                            async: true,
                            type: "POST",
                            url: window.SnitzVars.baseUrl + "Admin/ResetApplication",
                            data: { userName: window.SnitzVars.userName },
                            cache: false,
                            success: function () { return false; }

                        });
                    }
                }

            });
        }
    });
</script>
    <!-- main script section for pages -->
    @RenderSection("scripts", required: false)
    <!-- Render any scripts defined in partial pages -->
    @Html.PageScripts()
    <script>
        //Init stuff
        ready_or_not();

    </script>
</body>
</html>
