@using SnitzCore.Extensions
@model PhotoAlbum.ViewModels.SpeciesAlbum

<div>
    @{
        string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        int pagecount = Convert.ToInt32(ViewBag.PageCount);
        int page = ViewBag.Page;
        int intLow = page - 1;
        int intHigh = page + 3;
        if (intLow < 1) { intLow = 1; }
        if (intHigh > pagecount) { intHigh = pagecount; }
        if (intHigh - intLow < 5) { while ((intHigh < intLow + 4) && intHigh < pagecount) { intHigh++; } }
        if (intHigh - intLow < 5) { while ((intLow > intHigh - 4) && intLow > 1) { intLow--; } }
    }
    @if (pagecount > 1)
    {

        <ul class="pager">
            @if (page > 1)
            {
                <li><span class="pager-link"> @Html.ActionLink("<<", "Album", controllerName, new { pagenum = 1,sortOrder= ViewBag.SortPage }, htmlAttributes: null)</span></li>
                <li><span class="pager-link">@Html.ActionLink("<", "Album", controllerName, new { pagenum = page - 1, sortOrder = ViewBag.SortPage }, htmlAttributes: null)</span></li>
            }


            @for (int i = intLow; i < intHigh + 1; i++)
            {
                if (i == page)
                {
                    <li><span class="pager-link-current">@Html.ActionLink(i.ToLangNum(), "Album", controllerName, new { pagenum = i, sortOrder = ViewBag.SortPage }, htmlAttributes: null)</span></li>
                }
                else
                {
                    <li><span class="pager-link">@Html.ActionLink(i.ToLangNum(), "Album", controllerName, new { pagenum = i, sortOrder = ViewBag.SortPage }, htmlAttributes: null)</span></li>
                }
            }
            @if (page < pagecount)
            {
                <li><span class="pager-link">@Html.ActionLink(">", "Album", controllerName, new { pagenum = page + 1, sortOrder = ViewBag.SortPage }, htmlAttributes: null)</span></li>
                <li><span class="pager-link">@Html.ActionLink(">>", "Album", controllerName, new { pagenum = pagecount, sortOrder = ViewBag.SortPage }, htmlAttributes: null)</span></li>
            }
        </ul>

    }

</div>